<div class="panel panel-primary">
    <div class="panel-heading">
        {{pageTitle}}
    </div>
    <div class="panel-body"  >
        <div class="row" >
            <img src="./app/assets/images/triforce.jpg" 
                 class="img-responsive center-block"
                 style="max-height:570px; padding-bottom:50px; width:100%;"/>
        </div>
        <div class="row"  >
            <div class="text-center">Owned by:</div>
                  <img src="./app/assets/images/link.png" 
                    class="img-responsive center-block"
                    style="max-height:100px;"/>
            <h3 class="text-center">Link</h3>

        
        </div>
    </div>
</div>